@defer (when hasLoaded){
  @for (entry of entries; track entry) {
    <p>{{ entry.id }}</p>
    @if (entry.questions.length > 0) {
      <p>{{ entry.questions[0] }}</p>
    } @else {
      <p class="warning">There is no questions for this entry!</p>
    }
    @if (entry.answers.length > 0) {
      <p>{{ entry.answers[0] }}</p>
    } @else {
      <p class="warning">There is no answers for this entry!</p>
    }
  }
} @placeholder {
  <p>Waiting for data</p>
} @error {
  <p class="error">Problem with access data: {{ message }}</p>
}
